@import "tailwindcss";





/* BLACK */
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/AvenirLTProBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/AvenirLTProBlackOblique.otf') format('opentype');

    /* BOOK */
}

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 350;
    src: url('/fonts/AvenirLTProBook.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 350;
    src: url('/fonts/AvenirLTProBookOblique.otf') format('opentype');
}

/* HEAVY */

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/AvenirLTProHeavy.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/AvenirLTProHeavyOblique.otf') format('opentype');
}

/* LIGHT */

@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/AvenirLTProLight.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/AvenirLTProLightOblique.otf') format('opentype');
}

/* MEDIUM */
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/AvenirLTProMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 500;
    src: url('/fonts/AvenirLTProMediumOblique.otf') format('opentype');
}

/* ROMAN */
@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/AvenirLTProRoman.otf') format('opentype');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/AvenirLTProOblique.otf') format('opentype');
}


@theme {
  --font-avenir: "Avenir", sans-serif;
  --color-bronze-umbra: #8b6642;
  --color-black-umbra: #333a3e;
}